.fullscreen {
  min-height: calc(100vh - 57px);
  overflow: hidden;
  width: 100vw;
}

a.button-tertiary-shadow {
  display: inline-block;
  /* box-shadow: -3px 4px 0px 0px #000000; */
  padding: 0.5em 3em;
  border: 0.1em solid #000000;
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  text-align: center;
  transition: all 0.15s;
  border-radius: 8px;
  background-color: #FFFAF0;
  cursor: pointer;
  z-index: 2;
  position: absolute;
}

a.button-tertiary-shadow:hover {
  top: 5px;
  left: -5px;
} 

/* Button Primary with Shadow*/

.button-wrapper {
  position: relative;
}

a.button-shadow {
  display: inline-block;
  padding: 0.5em 3em;
  border: 0.12em solid #000000;
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  text-align: center;
  z-index: -1;
  position: absolute;
  top: 5px;
  left: -5px;
}

h1 {
  font-family: 'Roboto',sans-serif;
  font-size: 64px;
  font-weight: 700;
}

h6 {
  font-family: 'Roboto',sans-serif;
  font-size: 24px;
  font-weight: 700;
}

#headline {
  border-bottom-style: solid;
  border-right-style: solid;
  padding: 20px 0 20px 60px;
  height: calc(60vh - 34px);
}

.border-right-landing {
  border-right-style: solid;
}

.small-headlines {
  height: calc(40vh - 23px);
}

#landing-image {
  height: calc(92vh - 52px);
  border-bottom-style: solid;
  overflow: hidden;
}

.landing-link {
  height: calc(8vh - 5px);
  background-color: #FFEFE3;
  a {
    text-decoration: none;
    font-weight: 700;
    color: #000000;
    font-size: 24px;
  }
}