.share-ctn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 500px;
}

.info-box {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
