<div data-popover-target="card" class="d-flex feedback-popover">
  <%= cl_image_tag comment.user.photo.key, class: 'profile-comment-sm ml-2' %>
  <div class="p-2 my-2">
    <%= comment.content %>
  </div>
</div>
