
<div class="container mt-5">
    <div class="grid">
      <div class="gutter-size"></div>
      <% @public_artworks.each do |artwork| %>
        <% artwork.photos.each do |photo| %>
          <div class="grid-item">
            <%= cl_image_tag photo.key, class: "w-100" %>

          <a href="<%= artwork_path(artwork) %>" class="hover-img-container-2">

            <div class="overlay">
              @<%= artwork.user.username %><br>
              <%= artwork.title %>
            </div>
          </a>
          </div>
        <% end %>
      <% end %>
    </div>
</div>
