<div class="container">
  <h1>Your Friends</h1>
  <h3>Friend requests</h3>
  <% current_user.pending_invitations.each do |request| %>
    <%= User.find(request.receiver_id).username %>
    <div class="d-flex">
      <div class="button-wrapper">
        <%= link_to 'Accept', accept_friendship_path(request), class: 'button-primary-shadow', method: :patch %>
        <a href="#" class="button-shadow">Follow</a>
      </div>
      
      <div class="button-wrapper">
        <%= link_to 'Decline', decline_friendship_path(request), class: 'button-primary-shadow', method: :patch %>
        <a href="#" class="button-shadow">Follow</a>
      </div>
    </div>
  <% end %>
</div>