<div class="footer text-center " style="margin-top: 150px;">
  <div class="footer-links mt-3">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-helpers mt-3">
    <ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="footer-link" href="#">Sitemap</a>
  </li>
  <li class="nav-item">
    <a class="footer-link" href="#">About</a>
  </li>
  <li class="nav-item">
    <a class="footer-link" href="#">Copyright</a>
  </li>
  <li class="nav-item">
    <a class="footer-link" href="#">Contact</a>
  </li>
</ul>

  </div>
  <div class="footer-copyright mt-3 mb-3">
    © 2021 fdbckr.
  </div>
</div>
