.image-wrapper {
  position: relative;
}

.marker {
  position: absolute;
}

.image-relative {
  position: relative;
}

.artwork-content-box, .artwork-seperator {
  border-bottom: 0.1em solid #bdc7c9;
}

.privacy-show {
  text-align: end !important;
}
