<div class="container mt-5">
  <h1 class="center-headers" > Meet your fdbckr Crew </h1>

  <div class="row row-cols-1 row-cols-md-4 g-4">
  <div class="col">
    <div class="card">
      <img src="https://source.unsplash.com/vihkDSPuMdM/300x300" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Kevin Myung</h5>
        <p class="card-text">kmyung91@gmail.com</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://source.unsplash.com/7O_x-zaM_ug/300x300" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Martin Kühne</h5>
        <p class="card-text">martinkuehne@live.de</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://source.unsplash.com/Vxu6eHz34ZA/300x300" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Marnie Nyenhuis</h5>
        <p class="card-text">marnie.nyenhuis@t-online.de</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://source.unsplash.com/FcAQd8TCBzE/300x300" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Laura Hauertmann</h5>
        <p class="card-text">laurahauertmann@gmail.com</p>
      </div>
    </div>
  </div>
</div>


</div>
