<div class="container mt-5">
  <h1 class="center-headers" >Oops, something went wrong!</h1>
    <div class="d-flex justify-content-center">
    <div class ="image-wrapper">
      <img src="https://source.unsplash.com/YvFag7ZdsoM/350x350"alt="Birds">
    </div>
    </div>
    <br>
    <p class="center-headers" >This page doesen't seem to exists.</p>
    <p class="center-headers" >Click <%= link_to "here", discover_path %> to see all Artworks. </p>
</div>
