.upload-photo {
  display: inline-block;
  padding: 0.3em 2em;
  border: 0.1em solid #000000;
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #000000;
  text-align: center;
  transition: all 0.15s;
  border-radius: 8px;
  background-color: #E8D7FF;
  cursor: pointer;
}

.submit-artwork {
  display: inline-block;
  padding: 0.5em 2em;
  border: 0.1em solid #000000;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #000000;
  text-align: center;
  transition: all 0.15s;
  border-radius: 8px;
  background-color: #E8D7FF;
  cursor: pointer;
}

.submit-confirmation {
  display: inline-block;
  padding: 0.2em 0.8em;
  border: 0.1em solid #000000;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #000000;
  text-align: center;
  transition: all 0.15s;
  border-radius: 8px;
  background-color: #D7ECFF;
  cursor: pointer;
}

.submit-artwork[disabled]{
  border: 1px solid #b5a3cc;
  background-color: #dbd5e2;
  color: #666666;
}

.redirect-artwork {
  color: #9d7aca;
}

.redirect-artwork:hover {
  color: #252525;
}

.btn-send-feedback {
  display: inline-block;
  padding: 0.5em 3em;
  border: 0.12em solid #000000;
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #000000;
  text-align: center;
  transition: all 0.15s;
  background-color: #D7ECFF;
  position: absolute;
}

.btn-send-feedback:hover {
  top: 5px;
  right: 5px;
}

.btn-send-feedback:active {
  background-color: darken(#D7ECFF, 10%);
}

.button-wrapper-feedback {
  // width: 100%;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.btn-shadow-feedback {
  display: block;
  content: 'Send feedback';
  padding: 0.5em 3em;
  border: 0.12em solid #000000;
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #000000;
  text-align: center;
  z-index: -1;
  position: absolute;
  top: 5px;
  right: 5px;
}

.btn-follow {
  display: inline-block;
  padding: 0.5em 3em;
  border: 0.12em solid #000000;
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #000000;
  text-align: center;
  transition: all 0.15s;
  background-color: #D7ECFF;
  position: absolute;
}

.btn-follow:hover {
  top: 5px;
  right: 5px;
  color: black;
  text-decoration: none;
}

.btn-follow:active {
  background-color: darken(#D7ECFF, 10%);
}

.btn-wrapper-follow {
  // width: 100%;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.btn-shadow-follow {
  display: block;
  content: 'Follow';
  padding: 0.5em 3em;
  border: 0.12em solid #000000;
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #000000;
  text-align: center;
  z-index: -1;
  position: absolute;
  top: 5px;
  right: 5px;
}

.btn-follow {
  display: inline-block;
  padding: 0.5em 3em;
  border: 0.12em solid #000000;
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #000000;
  text-align: center;
  transition: all 0.15s;
  background-color: #D7ECFF;
  position: absolute;
}

.btn-follow:hover {
  top: 5px;
  right: 5px;
  color: black;
  text-decoration: none;
}

.btn-follow:active {
  background-color: darken(#D7ECFF, 10%);
}

.btn-wrapper-follow {
  // width: 100%;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.btn-shadow-follow {
  display: block;
  content: 'Follow';
  padding: 0.5em 3em;
  border: 0.12em solid #000000;
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #000000;
  text-align: center;
  z-index: -1;
  position: absolute;
  top: 5px;
  right: 5px;
}



// NAVBAR BUTTON

.btn-upload {
  display: inline-block;
  padding: 0.5em 3em;
  border: 0.12em solid #000000;
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #000000;
  text-align: center;
  transition: all 0.15s;
  background-color: #E8D7FF;
  position: absolute;
  z-index: 1;
  width: 160px;
}

.btn-upload:hover {
  top: 5px;
  right: 5px;
  color: black;
  text-decoration: none;
}

.btn-upload:active {
  background-color: darken(#E8D7FF, 10%);
}

.btn-wrapper-upload {
  // width: 100%;
  display: flex;
  justify-content: flex-end;
  position: relative;
  align-items: center;
  margin-right: 10px;
}

.btn-shadow-upload {
  display: block;
  content: 'Upload your art';
  padding: 0.5em 3em;
  border: 0.12em solid #000000;
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #000000;
  text-align: center;
  // z-index: 1;
  position: relative;
  top: 5px;
  right: 5px;
  width: 160px;
}

// CREATE ARTWORK BUTTON

.btn-create {
  display: inline-block;
  padding: 0.5em 3em;
  border: 0.12em solid #000000;
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #000000;
  text-align: center;
  transition: all 0.15s;
  background-color: #E8D7FF;
  position: absolute;
  z-index: 1;
  width: 160px;
}

.btn-create:hover {
  top: 5px;
  right: 5px;
  color: black;
  text-decoration: none;
}

.btn-create:active {
  background-color: darken(#E8D7FF, 10%);
}

.button-wrapper-create {
  // width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  width: fit-content;
  margin: auto;
}

.btn-shadow-create {
  display: block;
  padding: 0.5em 3em;
  border: 0.12em solid #000000;
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #000000;
  text-align: center;
  // z-index: 1;
  position: relative;
  top: 5px;
  right: 5px;
  width: 160px;
}

.btn-no-margin {
  margin-right: 0 !important;
}


// SELECT

.btn-select {
  display: inline-block;
  padding: 0.5em 3em;
  border: 0.12em solid #000000;
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #000000;
  text-align: center;
  transition: all 0.15s;
  background-color: #E8D7FF;
  position: absolute;
  z-index: 1;
  width: 160px;
  top: -5px;
  left: 5px;
}

.btn-select:hover {
  top: 0px;
  left: 0px;
  color: black;
  text-decoration: none;
}

.btn-select:active {
  background-color: darken(#E8D7FF, 10%);
}

.btn-wrapper-select {
  // width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  margin-right: 10px;
}

.btn-shadow-select {
  display: block;
  content: 'Upload your art';
  padding: 0.5em 3em;
  border: 0.12em solid #000000;
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #000000;
  text-align: center;
  // z-index: 1;
  position: relative;
  width: 160px;
}
