.upload-photo {
  display: inline-block;
  padding: 0.3em 2em;
  border: 0.1em solid #000000;
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #000000;
  text-align: center;
  transition: all 0.15s;
  border-radius: 8px;
  background-color: #E8D7FF;
  cursor: pointer;
}

.submit-artwork {
  display: inline-block;
  padding: 0.5em 2em;
  border: 0.1em solid #000000;
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #000000;
  text-align: center;
  transition: all 0.15s;
  border-radius: 8px;
  background-color: #E8D7FF;
  cursor: pointer;
}

.submit-artwork[disabled]{
  border: 1px solid #b5a3cc;
  background-color: #dbd5e2;
  color: #666666;
}

.redirect-artwork {
  color: #9d7aca;
  margin-left: 10px;
}

.redirect-artwork:hover {
  color: #252525;
}

.btn-send-feedback {
  display: inline-block;
  padding: 0.5em 3em;
  border: 0.12em solid #000000;
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #000000;
  text-align: center;
  transition: all 0.15s;
  background-color: #D7ECFF;
  position: absolute;
}

.btn-send-feedback:hover {
  top: 5px;
  right: 5px;
}

.btn-send-feedback:active {
  background-color: darken(#D7ECFF, 10%);
}

.button-wrapper-feedback {
  // width: 100%;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.btn-shadow-feedback {
  display: block;
  content: 'Send feedback';
  padding: 0.5em 3em;
  border: 0.12em solid #000000;
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #000000;
  text-align: center;
  z-index: -1;
  position: absolute;
  top: 5px;
  right: 5px;
}

.btn-send-follow {
  display: inline-block;
  padding: 0.5em 3em;
  border: 0.12em solid #000000;
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #000000;
  text-align: center;
  transition: all 0.15s;
  background-color: #D7ECFF;
  position: absolute;
}

.btn-send-follow:hover {
  top: 5px;
  right: 5px;
}

.btn-send-follow:active {
  background-color: darken(#D7ECFF, 10%);
}

.button-wrapper-follow {
  // width: 100%;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.btn-shadow-follow {
  display: block;
  content: 'Follow';
  padding: 0.5em 3em;
  border: 0.12em solid #000000;
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #000000;
  text-align: center;
  z-index: -1;
  position: absolute;
  top: 5px;
  right: 5px;
}
