// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";

.center-img {
  display: block;
  margin: auto;
  max-height: 60vh;
  object-fit: cover;
  width: 100%;
}
